body, html {
    height: 100%;
    margin: 0;
}

#sidebar {
    height: 100vh;
    position: fixed;
}

#content {
    margin-left: 280px;
    padding: 20px;
}

.login {
    width: 60%;
    height: auto;
    margin-bottom: 20px;
}

.toast-body {
    text-align: left;
}

.login-form .form-control {
    border-radius: 0;
    margin-bottom: -1px;
}

.login-form .form-email .form-control {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    border-bottom: 1px solid rgba(206, 212, 218, 0.3);
}

.login-form .form-senha .form-control {
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    border-top: 1px solid rgba(206, 212, 218, 0.3);
}

.login-form .form-label {
    padding-top: 0.5rem;
}

#password-requirements ul {
    list-style: none;
    padding-left: 0;
}

#password-requirements li {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.valid:before {
    content: '\2714';
    color: green;
    margin-right: 10px;
}

.invalid:before {
    content: '\2716';
    color: red;
    margin-right: 10px;
}

.divider {
    height: 80%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: auto 20px;
}

.login-section, .register-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.figure-img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.figure-login {
    margin-top: -330px;
}

.divider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.divider-container .divider {
    position: absolute;
    height: 100%;
}

.register-button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.register-button {
    width: 50%;
}

.d-flex.align-items-center {
    align-items: center;
}
